{% extends "admin_base.html" %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
  </div>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/statics/img/2.jpg" alt="Wuhan" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>R&D</h3>
        <p>A young female doctor tests in a laboratory.</p>
      </div>  
    </div>
    <div class="carousel-item">
      <img src="/statics/img/1.jpg" alt="Shanghai" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Vaccine</h3>
        <p>Traditionally it might take six to nine months to formulate the right vaccine.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/statics/img/3.jpg" alt="Beijing" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Hygiene</h3>
        <p>One of the best ways to protect yourself is to keep your hands clean and off your face.</p>
      </div> 
    </div>
    <div class="carousel-item">
      <img src="/statics/img/4.jpg" alt="Wuhan" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Treatment</h3>
        <p>A covid-19 patient is under the treatment of doctors.</p>
      </div>  
    </div>
    <div class="carousel-item">
      <img src="/statics/img/5.jpg" alt="Wuhan" class="d-block" style="width:100%">
      <div class="carousel-caption">
        <h3>Healthcare workers</h3>
        <p>For the safety of the Chinese people,they put aside all their concerns and risk their own infection.</p>
      </div>  
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container p-5 my-5 bg-primary">
  <table class="table table-borderless">
    <td><tr>
      <th scope="col">
        <div style="color: aliceblue; font-weight: 600;font-size: 3em;">Current Situation of COVID-19</div>
      </th>
      <div style="text-align: end;">
      <th scope="col">
        <a href="http://www.gov.cn/fuwu/zt/yqfwzq/zxqk.htm" target="_blank">
          <button type="submit" class="btn btn-light">
            <div style="color: dodgerblue; font-weight:600; font-size: 2em;">Learn More</div>
          </button>
        </a>
      </th>
    </div>
    </tr></td>
</table>
</div>

<div class="shadow p-4 mb-4 bg-white">
  <div class="container p-5 my-5 ">
    <head>
     <h1>Workers from across China come together to build makeshift hospital</h1>
     <h5 class="text-black-50">By Cao Yin in Shanghai | chinadaily.com.cn | Updated: 2022-04-09 16:38</h5>
    </head>
    <body>
      <img src="/statics/img/625145f3a310fd2bec81e28a.jpg" alt="hospital"class="d-block" style="width:100%">
      <p class="text-black-50">A staff member disinfects the construction site of a makeshift hospital at the National Exhibition and Convention 
        Center (Shanghai) in East China's Shanghai, April 8, 2022. [Photo/Xinhua]</p>
      <p>Thanks to efforts of workers from across China, the makeshift hospital at the National Exhibition and Convention Center in Shanghai with a capacity of 50,000 beds was reconfigured within days and is now ready to ease burden of the city's COVID-19 patients.</p>
      <p>On Saturday morning, when China Daily reporter visited the makeshift hospital, Wang Zhongxun, who is responsible for coordinating the outdoor engineering with the China Construction Eighth Engineering Division Corp Ltd, was conducting a final inspection of the enter-exit passage for medical workers.</p>
      <p>"Providing a clean environment for doctors and nurses for dressing and taking off protective clothes is a must in the makeshift hospital's construction, as preventing the medical staff from being infected is also important," Wang said.</p>
      <p>"Before I went to Shanghai to help reconfigure the center on Tuesday, I was aiding construction projects in other provinces," he said. "Since the Spring Festival holiday in February, I've not met my family members."</p>
      <p>"But at this critical moment of fighting the pandemic in Shanghai, it's a responsibility of a constructer to be here," he said. "My family members also support and understand my job, as we all want the outbreak to be alleviated and combated as soon as possible."</p>
      <p>Shu Yang, another worker from the construction enterprise, arrived from Chengdu, capital of Sichuan province, when he was asked to help build the makeshift hospital early this week. It was the first time he visited the metropolis.</p>
      <p>"I never thought I will go to Shanghai in this particular time. It's a special experience for me," he said, adding that he was always moved and cheered up by round-the-clock workers around him.</p>
      <p>"Since coming here, many workers slept two to three hours a day, as our aim was to complete the construction as quickly as we could. In this way, more patients will have a better quarantine environment and the burden of the treatment in the city will also be eased," he added.</p>
      <p>Dong Fangyong, from the enterprise's decoration department, made more than 3,400 beds for patients with his 800 colleagues within four days. He said: "Such a great workload, in general, needs such a number of workers to do the work in about one month."</p>
      <p>Despite the short construction time, many convenient functions have been added in the makeshift hospital, including beddings and bedside lamps as well as areas for patients to take a shower and receive emergency treatment.</p>
      <p>"I do miss my family members, but I also felt my responsibility," Dong said. "I'll better protect myself to prevent and control the virus to ease my family's concern on my healthy safety."</p>
      <p>"I hope the makeshift hospital can be put into operation as soon as possible to help more patients can get treatment, as at that time, I can also reunite with my family," he added.</p>
    </body>
   </div></div>

   <div class="shadow p-4 mb-4 bg-white">
    <div class="container p-5 my-5 ">
      <head>
        <h1>Shanghai stepping up COVID fight</h1>
        <h5 class="text-black-50">By CAO CHEN in Shanghai | CHINA DAILY | Updated: 2022-04-09 08:09</h5>
      </head>
      <body>
        <img src="/statics/img/6250ceb1a310fd2bec81d13c.jpeg" alt="test" class="d-block" style="width:100%">
        <p>A medical worker takes a swab sample from a resident for nucleic acid test at a community in Songjiang district of Shanghai, East China, April 6, 2022. [Photo/Xinhua]</p>
        <p>Testing continued as Shanghai entered its seventh day of lockdown on Friday with the COVID-19 resurgence that began on March 1 having caused more than 130,000 infections including one severe case.</p>
        <p>The city added 824 confirmed cases on Thursday, more than double Wednesday's tally, along with an increasing number of new asymptomatic carriers that pushed the daily total of new infections to another high of 21,222.</p>
        <p>"We are now at a critical point in the fight against the virus, with rather high numbers of infections revealed during grid screenings carried out recently and characterized by cluster transmissions in communities," Wu Qianyu, a senior inspector with the municipal health commission, said at a news briefing on Friday.</p>
        <p>According to official data, the youngest patient so far is an infant born just last week, whereas the eldest is 98 years old. The majority－69 percent－of the 4,393 confirmed cases so far have been those aged 18 to 60, while 15 percent of the cases are those aged 18 and below.</p>
        <p>The latest outbreak has resulted in one severe case, with the patient currently receiving treatment, Wu said.</p>
        <p>To curb the outbreak, the city launched another round of citywide testing on Friday amid the ongoing lockdown beginning April 1, including nucleic acid tests and antigen tests for people with different exposure risks, according to the announcement by the municipal government.</p>
        <p>To ensure swift quarantine and treatment of the infected, the city has been racing against time to set up new makeshift hospitals and quarantine facilities, said Jin Chen, deputy director of the city's housing and construction commission.</p>
        <p>The city has also been improving patient-centered care in makeshift hospitals. According to Fan Jia, president of Zhongshan Hospital Affiliated to Fudan University, over 300 medics and management staff members from the hospital have been assigned to a makeshift hospital converted from an indoor stadium in Minhang district, one of the worst-hit areas in Shanghai with 2,257 locally transmitted infections on Thursday alone.</p>
        <p>Most of the participating medics joined the initial battle against the virus in Wuhan, Hubei province, in 2020, Fan said. A team led by academicians of the Chinese Academy of Sciences and composed of experts in the medical industry was also established to work on diagnosis and treatment specifications, offer consultation and assist in treatment at the makeshift hospital.</p>
        <p>"The strategy aims to enhance the efficiency of treatment for the safety of patients in order to shorten the average length of stay in hospitals as much as possible. Furthermore, we care for children, women and the elderly. Personalized medical plans are also offered to those with other diseases aside from COVID-19. Standard meals, bedding and internet connections are provided for patients as well," he said.</p>
        <p>Moreover, Fan added that the hospital also went the extra mile to ensure effective management of staff members, care for frontline health workers and provide safety guarantees in the facility.</p>
      </body>
    </div>
  </div>
  <div class="shadow p-4 mb-4 bg-white">
    <div class="container p-5 my-5 ">
      <head>
        <h1>Shanghai takes measures to improve newfound delivery needs</h1>
        <h5 class="text-black-50">By Cao Chen in Shanghai | chinadaily.com.cn | Updated: 2022-04-09 14:24</h5>
      </head>
      <body>
        <img src="/statics/img/xxx.jpeg" alt="xxx" class="d-block" style="width:100%">
        <p>A delivery vehicle carrying loads of goods is seen outside a warehouse in Minhang district of East China's Shanghai, April 1, 2022. [Photo/Xinhua]</p>
        <p>Shanghai strives to enhance delivery efficiency and facilitate the normal operation of more enterprises to ensure residents receive daily necessities as needed, local authorities said at a news briefing on Saturday.</p>
        <p>According to Gu Jun, director of the Municipal Commerce Commission, residents' needs for food, daily necessities, materials for pandemic prevention and medicine have increased, as closed-loop management in some communities has lasted for a month.</p>
        <p>"To tackle the current gap between supply and demand, the city has cooperated with multiple provincial-level regions, including Shandong, Yunnan, and Inner Mongolia, to ensure that enough vegetables and pork are transported to the city through an inter-provincial contactless delivery mechanism," Gu said.</p>
        <p>Three transfer stations for daily necessities have already been operating in Kunshan, Jiangsu province; Pinghu, Zhejiang province; and the International Agricultural Products Trading Center in the city's Qingpu district. </p>
        <p>In addition, authorized wholesale markets, distribution centers, e-commerce warehouses and central kitchens that strictly implement COVID-19 prevention and control measures will gradually resume business to guarantee supplies.</p>
        <p>According to Gu, nine front-end e-commerce warehouses and 17 supermarkets resumed operation since Friday. Also resuming work on Friday were 1,096 local workers and 2,000 people dispatched from other provinces in industries related to basic social needs.</p>
        <p>"We've also taken special care for the elderly living alone, children, women and other people in need of help. Stated-own department store chain Bailian Group is in charge of the supply for regions to the east of the Huangpu River, whereas local dairy company Guangming Group is responsible for areas in the west," Gu added.</p>
      </body>
    </div>
  </div>
{% endblock %}